<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bencana Transport App | igmerwina</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
		<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  </head>
  <body>
    <h1>
      Telah terjadi {{ object. bencana }} di {{ object.lokasi }}
    </h1>
    <h3>Koban diperkiranan {{ object.korban }} <br><hr>
    Kerugian yakni {{ object.kerugian }} <br><hr>
    Kronologi: {{ object.keterangan }} <br><hr>
    Upaya yang dilakukan adalah {{ object.upaya }} </h3>

  </body>
</html>
