<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
        <p>
          <a href="{{ url_for('.index')}}">
            <strong>Data Bencana Transportasi Indonesia </strong>
          </a> by <a href="http://igmerwina.id" target="_blank">Made Erwin Ardiantha</a>
          <br>Based on <a href="http://first-news-app.readthedocs.io/en/latest/" target="_blank">The First News App</a>
              from <a href="https://twitter.com/dancow" target="_blank">Dan Nguyen</a><br>
        </p>
        The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php" target="_blank"> MIT</a><br>
      <p>
        <a class="icon" href="https://github.com/igmerwina/" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="icon" href="http://www.pocoo.org/" target="_blank">
          <i class="fa fa-flask"></i>
        </a>
        <a class="icon" href="http://www.data.id/" target="_blank">
          <i class="fa fa-database"></i>
        </a>
        <a class="icon" href="http://www.atom.io/" target="_blank">
          <i class="fa fa-pencil-square-o"></i>
        </a>
        <a class="icon" href="https://github.com/jgthms/bulma" target="_blank">
          <i class="fa fa-css3"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
