<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bencana Transportasi App | igmerwina</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
		<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  </head>
  <body>
    <h1>Bencana Tranportasi di Indonesia</h1>
    <h2>
      Informasi kecelakaan transportasi di indonesia
      sejak tahun 2011-2014
    </h2>
    <h3> Data diperoleh dari <a href="http://data.go.id/dataset/data-kecelakaan-transportasi-2">data.id</a></h3>
    <p>
      Based on <a href="http://first-news-app.readthedocs.org/">The First News App</a>
          by <a href="https://twitter.com/dancow">Dan Nguyen</a><br>
      Built with: Flask, Frozen-Flask, Atom, and Infused Water <br>
      by <a href="http://www.igmerwina.id">Made Erwin Ardiantha</a></p>
    <div id="map" style="width:100%; height:400px;"></div>
    <br>
    <table border=1 cellpadding=7>
			<tr>
        <th>Bencana</th>
        <th>Lokasi</th>
        <th>Tanggal</th>
        <th>Jam</th>
			</tr>
			{% for obj in object_list %}
			<tr>
        <td> {{ obj.bencana }}</td>
        <td> <a href="{{ obj.no }}"> {{ obj.lokasi }} </a></td>
        <td> {{ obj.tanggal }}</td>
        <td> {{ obj.jam }}</td>
			</tr>
			{% endfor %}
		</table>
    <script type="text/javascript">
      var map = L.map('map').setView([-1.1, 120], 5);
      var osmLayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: 'Data dan info peta diperoleh dari <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a>.'
      });
      map.addLayer(osmLayer);
      var data = {
        "type": "FeatureCollection",
        "features": [
          {% for obj in object_list %}
          {
            "type": "Feature",
            "properties": {
              "lokasi": "{{ obj.lokasi }}",
              "no": "{{ obj.no }}"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [{{ obj.x }}, {{ obj.y }}]
            }
          }{% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      };
      var dataLayer = L.geoJson(data, {
        onEachFeature: function(feature, layer) {
          layer.bindPopup(
            '<a href="' + feature.properties.no + '">' +
                feature.properties.lokasi +
            '</a>'
          );
          layer.on('mouseover', function (e) {
            this.openPopup();
          });
        }
       });
       map.addLayer(dataLayer);
    </script>
  </body>
</html>
