{% include "header.html" %}
{% include "content.html" %}
{% include "footer.html" %}

    <script type="text/javascript">
      var map = L.map('map').setView([-1.1, 117], 5);
      var osmLayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18, minZoom: 5,
        attribution: 'Sumber Data dan info peta: <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a>.',
      });
      map.addLayer(osmLayer);
      var data = {
        "type": "FeatureCollection",
        "features": [
          {% for obj in object_list %}
          {
            "type": "Feature",
            "properties": {
              "lokasi": "{{ obj.lokasi }}",
              "no": "{{ obj.no }}"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [{{ obj.x }}, {{ obj.y }}]
            }
          }{% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      };
      var dataLayer = L.geoJson(data, {
        onEachFeature: function(feature, layer) {
          layer.bindPopup(
            '<a href="' + feature.properties.no + '">' +
                feature.properties.lokasi +
            '</a>'
          );
          layer.on('mouseover', function (e) {
            this.openPopup();
          });
        }
       });
       map.addLayer(dataLayer);
    </script>
  </body>
</html>
